* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #080808;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}

/* Nav new */

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-end: 15px 30px;
    /* background: #333; */
    color: white;
}

#navbar.scrolled{
        background: rgba(0, 0, 0, 0.85);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

#nav-links{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 1000;
    padding: 18px 28px;
    display: none;
    gap: 20px;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    background:transparent;
    transition: max-height 260ms ease-out;
}

#nav-links li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    letter-spacing: 0.4px;
    padding: 6px 8px;
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

#nav-links li a:hover {
    color: #547686;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.993);
}

#nav-links.scrolled{
    box-shadow: rgba(10, 10, 10, 0.25);
    background: rgba(10,10,10,0.9);
}

#nav-links.scrolled li a{
    color: #eee;
}

#nav-links.scrolled li a:hover{
    color: #547686;
}

.hamburger{
    display: none;
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 1100;
    padding: 10px;
    display: block;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    background:transparent;
    transition: max-height 260ms ease-out;
}

/* MAIN SECTION */

.main {
    width: 100%;
    height: 100vh;
    background-image: url(./IMG_20230930_020045_858-removebg-preview.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: calc(18px + 1rem + 2px + 20px); 
}
/* 
section{

} */

.main h1 {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    line-height: 1.5;
}

.d-block {
    font-size: 40px;
    font-weight: 750;
    color: white;
    padding-bottom: 20px;
}

.main p {
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.534);
    font-size: 13px;
}

/* PORTFOLIO */

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.portfolio h3 {
    font-size: 25px;
    font-weight: 100;
}

.portfolio span {
    font-weight: 1000;
}

.links {
    display: flex;
    align-items: center;
}

.links ul {
    display: flex;
    margin: 20px 0 20px 0;
}

.links ul li {
    list-style: none;
    padding: 20px;
    font-size: 15px;
}

.links ul li a:hover {
    color: #5b8091;
}

/* MOCKUP */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mockup {
    margin-bottom: 20px;
}

.mockup img {
    max-width: 100%;
    margin-bottom: 20px;
}

.mockup h4 {
    text-align: center;
    font-weight: 100;
}

/* RESUME */

.my-resume {
    width: 100%;
    margin-top: 200px;
}

.my-resume .main-my-resume {
    text-align: center;
    font-weight: 100;
    margin-bottom: 50px;
}

.my-resume h3 {
    font-size: 25px;
}

.my-resume h3 span {
    font-weight: 1000;
}

.education h2 {
    font-weight: 100;
    margin-left: 25px;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px 0 20px 0;
    background-color: #333;
    width: 90%;
    height: 270px;
    padding: 20px;
    border-radius: 10px;
}

.box .icon-calender {
    font-size: 12px;
    color: white;
}

.box span {
    font-size: 12px;
    color: #ffffff66;
}

.box h3 {
    font-size: 22px;
    font-weight: 100;
    color: #BAC964;
}

.box p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 100;
    color: #ffffff66;
    font-weight: 100;
}

.experience h2 {
    font-weight: 100;
    margin-left: 25px;
}

/* ABOUT ME */

.about-me {
    margin-top: 200px;
}

section .image img {
    width: 90%;
    margin: 10px 0 10px 15px;
}

.about {
    margin: 10px 0 100px 15px;
    width: 90%;
}

.about h3 {
    font-size: 27px;
    margin-bottom: 30px;
    font-weight: 100;
}

.about h3 span {
    font-weight: 1000;
}

.about .aboutme {
    color: #4d4d4d;
    font-size: 19px;
    margin-bottom: 20px;
}

.about .description {
    color: #4d4d4d;
    font-size: 16px;
    margin-bottom: 25px;
}

.about button {
    display: flex;
    flex-direction: column;
}

.btn1 {
    background-color: #BAC964;
    padding: 10px;
    width: 100px;
    outline: none;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: 13px;
}

.btn2 {
    background-color: #4d4d4d;
    padding: 10px;
    width: 150px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 13px;
}

/* MY SERVICES */

.my-services {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 15px;
}


.my-services h3 {
    text-align: center;
    font-size: 27px;
    font-weight: 100;
}

.my-services h3 span {
    font-weight: 1000;
}

/* .boxes-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.web-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #333;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.web-design img {
    width: 20%;
    background-color: #BAC964;
    padding: 10px;
    border-radius: 40px;
    margin: 20px 0 20px 0;
}

.web-design h4 {
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}

.web-design p {
    color: #686868;
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 15px;
}

.web-design a {
    color: #BAC964;
    font-size: 14px;
}

.search-engine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #333;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.search-engine img {
    width: 20%;
    background-color: #BAC964;
    padding: 10px;
    border-radius: 40px;
    margin: 20px 0 20px 0;
}

.search-engine h4 {
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}

.search-engine p {
    color: #686868;
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 15px;
}

.search-engine a {
    color: #BAC964;
    font-size: 14px;
}

.video-editing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #333;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.video-editing img {
    width: 20%;
    background-color: #BAC964;
    padding: 10px;
    border-radius: 40px;
    margin: 20px 0 20px 0;
}

.video-editing h4 {
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}

.video-editing p {
    color: #686868;
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 15px;
}

.video-editing a {
    color: #BAC964;
    font-size: 14px;
}

/* CONTACT */

.contact {
    margin-top: 200px;
}

.contact .main-text {
    font-size: 27px;
    margin-bottom: 50px;
    font-weight: 50;
    text-align: center;
}

.contact h3 span {
    font-weight: 1000;
}

.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: auto;
}

.form h3 {
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 30px;
}

.form input,
textarea {
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #4d4d4d;
    color: #ffffff66;
    transition: border 0.3s, boxshadow 0.3s;
}

.form button {
    background-color: #BAC964;
    padding: 15px;
    color: white;
    margin-top: 20px;
    width: 150px;
    outline: none;
    border: none;
    border-radius: 35px;
    font-size: 14px;
    margin-bottom: 10px;
    transition: background 0.3s;
}

.form button:hover{
    background-color: #4d4d4d;
}

.contact-details {
    margin: 50px 20px 0 20px;
}

.contact-details .contact-d {
    margin-bottom: 50px;
    font-size: 22px;
    font-weight: 100;
    color: white;
}

.contact-details h3 {
    font-size: 14px;
    color: #2C3E50;
    font-weight: 100;
    margin-bottom: 10px;
}

.contact-details h4 {
    color: #ffffff66;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 100;
}

/* FOOTER */
footer {
    margin-top: 100px;
}

footer h4 {
    text-align: center;
    font-weight: 100;
    color: #ffffff66;
}

footer .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

footer img {
    background-color: #BAC964;
    width: 50px;
    border-radius: 40px;
    padding: 5px;
    margin: 10px;
}

footer img:hover{
    background-color: #4d4d4d;
}

/* RESPONSIVENESS */

@media only screen and (min-width: 320px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 15px 20px; */
        background: transparent;
        color: white;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
    }


    #nav-links {
        display: none;
        flex-direction: column;
        background: #333;
        position: absolute;
        width: 100%;
        top: 60px;
        right: 0;
        border-radius: 4px;
    }

    #nav-links li{
        text-align: center;
        width: 100%;
    }

    #nav-links li a{
        display: block;
        padding: 14px;
        color: white;
        font-weight: 600;
        text-decoration: none;
    }
    
    .hamburger {
        display: block;
        font-size: 28px;
        cursor: pointer;
        z-index: 1100;
        /* background: transparent; */
    }

    #nav-links.active{
        /* display:  flex;*/
        max-height: 500px;
    }


    .main h1{
        font-size: 20px;
    }

    .box {
        width: 90%;
        height: 265px;
        padding: 30px 20px 0 20px;
    }

    .about {
        margin: 10px 0 100px 15px;
    }

    .portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 25px;
        margin-top: 200px;
    }

    .content{
        width: 90%;
    }

    .my-resume{
        width: 100%;
    }

    .my-services {
        width: 90%;
        /* margin: 10px 30px 10px 40px; */
    }
}

@media only screen and (min-width: 375px) {

    #nav-links {
        position: absolute;
        display: flex;
        top: 60px;
        right: 0;
        background: #333;
        width: 200px;
        display: none;
        padding: 10px;
    }

    .hamburger {
        display: block;
        background: transparent;
    }

    #nav-links.active{
        display:  flex;
    }

    .main h1{
        font-size: 20px;
    }

    .box {
        width: 90%;
        height: 265px;
        padding: 30px 20px 0 20px;
    }

    .about {
        margin: 10px 0 100px 15px;
    }

    .my-services {
        width: 80%;
        margin: 10px 30px 10px 40px;
    }
}

@media only screen and (min-width: 425px) {

    .box {
        width: 85%;
        height: 280px;
        padding: 40px 20px 0 20px;
    }

    #nav-links {
        position: absolute;
        display: flex;
        top: 60px;
        right: 0;
        background: #333;
        width: 200px;
        display: none;
        padding: 10px;
    }

    .education h2{
        margin-left: 33px;
    }

    .experience h2{
        margin-left: 33px;
    }

    .hamburger {
        display: block;
        font-size: 28px;
        cursor: pointer;
        z-index: 1100;
        background: transparent;
    }

    #hamburger{
        background: rgba(255, 0, 0, 0);
    }

    #nav-links.active{
        display:  flex;
    }

    #nav-links.scrolled {
        background: rgba(10,10,10,0.9);
        /* box-shadow: 0 2px 5px rgba(0,0,0,0.25); */
    }


} 

@media only screen and (min-width: 768px) {

    #nav-links {
        position: absolute;
        display: flex;
        top: 60px;
        right: 0;
        background: #333;
        width: 200px;
        display: none;
        padding: 10px;
    }

    .hamburger {
        display: block;
        background: transparent;
    }

    #nav-links.active{
        display:  flex;
    }

    .main {
        margin-bottom: 100px;
    }

    .main h1 {
        font-size: 40px;
    }

    .d-block {
        font-size: 45px;
    }

    .main p {
        font-size: 16px;
    }

    /* PORTFOLIO */

    .portfolio h3 {
        font-size: 35px;
    }

    .links ul li {
        list-style: none;
        padding: 25px;
        font-size: 25px;
    }

    /* MOCKUP */

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .mockup {
        width: 100%;
        margin-left: 10px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .mockup img {
        max-width: 90%;
        margin-bottom: 20px;
    }

    .mockup h4 {
        margin-bottom: 10px;
    }

    /* RESUME */

    .resume {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .my-resume {
        width: 100%;
        margin-top: 200px;
    }

    .my-resume h3 {
        font-size: 50px;
    }

    .education h2 {
        margin-top: 50px;
        font-size: 30px;
    }

    .box {
        margin: 20px 0 20px 0;
        width: 90%;
        height: 270px;
        padding: 20px;
    }

    .box h3 {
        font-size: 22px;
        font-weight: 100;
        color: #BAC964;
    }

    .experience h2 {
        font-size: 30px;
        margin-top: 50px;
    }


    /* ABOUT ME */

    .about-me {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about {
        margin-bottom: 40px;
    }

    .about h3 {
        font-size: 35px;
    }

    /* MY SERVICES */

    .my-services {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 200px;
    }

    .boxes-services {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .my-services h3 {
        text-align: center;
        font-size: 50px;
        font-weight: 100;
    }

    .my-services h3 span {
        font-weight: 1000;
    }

    .web-design {
        width: 80%;
        height: 450px;
        padding: 30px;
    }

    .web-design h4 {
        font-size: 24px;
    }

    .web-design p {
        line-height: 1.9;
        font-size: 19px;
    }

    .web-design a {
        font-size: 16px;
    }

    .search-engine {
        width: 80%;
        height: 470px;
        padding: 30px;
    }

    .search-engine h4 {
        font-size: 24px;
    }

    .search-engine p {
        line-height: 1.9;
        font-size: 18px;
    }

    .search-engine a {
        font-size: 16px;
    }

    .video-editing {
        width: 80%;
        height: 450px;
        padding: 30px;
    }

    .video-editing img {
        width: 20%;
        background-color: #BAC964;
        padding: 10px;
        border-radius: 40px;
        margin: 20px 0 20px 0;
    }

    .video-editing h4 {
        font-weight: 100;
        font-size: 20px;
        margin-bottom: 20px;
        color: white;
    }

    .video-editing p {
        color: #686868;
        line-height: 1.6;
        margin-bottom: 20px;
        font-size: 15px;
    }

    .video-editing a {
        color: #BAC964;
        font-size: 14px;
    }

    /* CONTACT */

    .getintouch {
        display: flex;
        flex-direction: row;
    }

    .contact .main-text {
        font-size: 50px;
    }

    .form {
        margin-top: 30px;
        width: 50%;
        margin: 20px;
    }

    .form h3 {
        font-size: 30px;
    }

    .contact-details {
        margin-top: 20px;
        margin-left: 20px;
    }

    .contact-details .contact-d {
        font-size: 30px;
    }

    .contact-details h3 {
        font-size: 20px;
        color: #2C3E50;
    }

    .contact-details h4 {
        color: #ffffff66;
        font-size: 16px;
    }

}

@media only screen and (min-width: 1024px) {

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block-end: 15px 30px;
        /* background: #333; */
        color: white;
    }

    #nav-links{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        z-index: 1000;
        padding: 18px 28px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        list-style: none;
        align-items: center;
        justify-content: space-evenly;
        background:transparent;
        transition: max-height 260ms ease-out;
    }

    #nav-links li a{
        text-decoration: none;
        color: white;
        font-weight: 600;
        letter-spacing: 0.4px;
        padding: 6px 8px;
        display: inline-block;
        margin-right: 10px;
        font-weight: bold;
    }

    #nav-links.scrolled{
        box-shadow: rgba(10, 10, 10, 0.25);
        background: rgba(10,10,10,0.9);
    }

    #nav-links.scrolled li a{
        color: #eee;
    }

    .hamburger{
        display: none;
        font-size: 24px;
        cursor: pointer;
    }

    /* MY SERVICES */

    .my-services {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 200px;
    }

    .boxes-services {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }

    .web-design {
        width: 70%;
        height: 600px;
        padding: 25px;
        margin-right: 20px;
    }

    .search-engine {
        width: 70%;
        height: 550px;
        padding: 25px;
        margin-right: 20px;
    }

    .video-editing {
        width: 70%;
        height: 450px;
        padding: 30px;
    }

    .video-editing img {
        width: 20%;
        background-color: #BAC964;
        padding: 10px;
        border-radius: 40px;
        margin: 20px 0 20px 0;
    }

    .video-editing h4 {
        font-weight: 100;
        font-size: 20px;
        margin-bottom: 20px;
        color: white;
    }

    .video-editing p {
        color: #686868;
        line-height: 1.6;
        margin-bottom: 20px;
        font-size: 15px;
    }

    .video-editing a {
        color: #BAC964;
        font-size: 14px;
    }
}

@media only screen and (min-width: 1440px){

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block-end: 15px 30px;
        /* background: #333; */
        color: white;
    }

    #nav-links{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        z-index: 1000;
        padding: 18px 28px;
        display: flex;
        gap: 20px;
        list-style: none;
        align-items: center;
        justify-content: space-evenly;
        background:transparent;
        transition: max-height 260ms ease-out;
    }

    #nav-links li a{
        text-decoration: none;
        color: white;
        font-weight: 600;
        letter-spacing: 0.4px;
        padding: 6px 8px;
        display: inline-block;
        margin-right: 10px;
        font-weight: bold;
    }

    #nav-links.scrolled{
        box-shadow: rgba(10, 10, 10, 0.25);
        background: rgba(10,10,10,0.9);
    }

    #nav-links.scrolled li a{
        color: #eee;
    }

    .hamburger{
        display: none;
        font-size: 24px;
        cursor: pointer;
    }


    .portfolio {
        margin: 200px;
    }

    .portfolio h3 {
        font-size: 50px;
    }

    .links ul li {
        font-size: 35px;
    }

    .about-me {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about {
        margin-bottom: 40px;
    }

    .about {
        width: 60%;
    }

    .about h3 {
        font-size: 35px;
    }

    .content {
        display: flex;
        flex-direction: row;
        margin-left: 50px;
    }

    .mockup {
        margin-bottom: 20px;
    }

    .mockup img {
        width: 1000px;
        margin-bottom: 20px;
    }

    .mockup h4 {
        font-size: 25px;
    }

    footer h4 {
        font-size: 20px;
    }

    footer img {
        width: 40px;
    }

    .education h2 {
        margin-left: 40px;
    }

    .experience h2 {
        margin-left: 35px;
    }

    .boxes .box {
        height: 250px;
    }
}